.service-service {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 350px;
  align-items: flex-start;
  border-color: #151515;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  border-bottom-width: 1px;
}
.service-title {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  white-space: nowrap;
}
.service-description {
  font-size: 22px;
  line-height: 36px;
}





@media(max-width: 991px) {
  .service-service {
    gap: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .service-title {
    font-size: 18px;
    line-height: 16px;
  }
  .service-description {
    font-size: 14px;
    line-height: 21px;
  }
  .service-root-class-name {
    max-width: 100%;
  }
  .service-root-class-name1 {
    max-width: 100%;
  }
  .service-root-class-name2 {
    max-width: 100%;
  }
  .service-root-class-name3 {
    max-width: 100%;
  }
  .service-root-class-name5 {
    max-width: 100%;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar {
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
  background-color: #151515;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.home-branding {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-logo {
  width: 328px;
  height: 112px;
  object-fit: cover;
  transition: 0.3s;
}
.home-logo:hover {
  transform: rotate(360deg);
}
.home-items {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-links {
  gap: var(--dl-space-space-threeunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-button1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding-top: 20px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 20px;
  background-color: #235536;
}
.home-image {
  width: 100px;
  display: none;
  object-fit: cover;
}
.home-text {
  color: #ffffff;
  display: flex;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #151515;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-branding1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-logo1 {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.home-company {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}
.home-menu-close {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.home-items1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-links1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text05 {
  color: #ffffff;
}
.home-hero {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: #151515;
}
.home-header {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  padding-top: 70px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.home-title {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 70px;
  max-width: 895px;
  font-weight: 900;
  line-height: 115px;
  text-transform: uppercase;
}
.home-description {
  color: rgb(255, 255, 255);
  width: 1004px;
  font-size: 24px;
  max-width: 800px;
  text-align: justify;
  line-height: 36px;
}
.home-text06 {
  font-size: 30px;
  font-family: Times New Roman;
  font-weight: 700;
}
.home-text07 {
  color: #ffffff;
  font-size: 24px;
  font-family: Times New Roman;
  font-weight: 700;
  line-height: 36px;
}
.home-text10 {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
}
.home-text13 {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
}
.home-video {
  width: 100%;
  cursor: pointer;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-video1 {
  flex: 1;
  width: 100%;
}
.home-description1 {
  width: 100%;
  height: 1250px;
  display: flex;
  max-width: 1280px;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-end;
  padding-top: 12px;
  border-color: #151515;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  border-top-width: 1px;
}
.home-content {
  gap: var(--dl-space-space-threeunits);
  width: 998px;
  height: 100%;
  display: flex;
  max-width: 900px;
  align-items: flex-start;
  flex-direction: column;
}
.home-text15 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-paragraph {
  width: 874px;
  height: 1012px;
  font-size: 32px;
  align-self: center;
  text-align: justify;
  line-height: 48px;
}
.home-text16 {
  font-size: 30px;
  font-family: Georgia;
}
.home-text17 {
  font-size: 16px;
  line-height: 48px;
}
.home-text18 {
  font-size: 16px;
}
.home-text19 {
  font-size: 16px;
}
.home-text20 {
  font-size: 16px;
}
.home-text21 {
  font-size: 16px;
}
.home-text22 {
  font-size: 16px;
}
.home-text23 {
  font-size: 16px;
}
.home-text24 {
  font-size: 16px;
}
.home-text25 {
  font-size: 16px;
}
.home-text26 {
  font-size: 16px;
}
.home-text27 {
  font-size: 16px;
}
.home-text28 {
  font-size: 16px;
  line-height: 48px;
}
.home-text29 {
  font-size: 16px;
}
.home-text30 {
  font-size: 16px;
}
.home-text31 {
  font-size: 16px;
  line-height: 48px;
}
.home-text32 {
  font-size: 16px;
}
.home-text33 {
  font-size: 16px;
}
.home-text34 {
  font-size: 16px;
  line-height: 48px;
}
.home-link1 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-featured {
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-header1 {
  width: 100%;
  display: flex;
  align-items: flex-end;
  border-color: #151515;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.home-title1 {
  height: 252px;
  align-self: flex-end;
  text-align: center;
  font-family: Open Sans;
  font-weight: 900;
}
.home-link2 {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
.home-client {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #151515;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  border-bottom-width: 1px;
}
.home-image1 {
  width: 952px;
  height: 514px;
  object-fit: cover;
}
.home-text36 {
  width: 1090px;
  font-size: 32px;
  max-width: 900px;
  text-align: justify;
  line-height: 48px;
}
.home-text37 {
  font-size: 16px;
}
.home-text38 {
  font-size: 32px;
  line-height: 48px;
}
.home-text39 {
  font-size: 16px;
}
.home-text40 {
  font-size: 16px;
}
.home-text41 {
  font-size: 32px;
  line-height: 48px;
}
.home-services {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
}
.home-header2 {
  width: 100%;
  height: 93px;
  display: flex;
  align-items: center;
  border-color: #151515;
  flex-direction: column;
  padding-bottom: 4px;
  border-bottom-width: 1px;
}
.home-grid {
  flex: 1;
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  flex-direction: column;
  grid-template-columns: auto auto auto;
}
.home-about {
  width: 100%;
  height: 1283px;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: #151515;
}
.home-header3 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  border-color: #FFFFFF;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  border-bottom-width: 1px;
}
.home-company1 {
  color: rgb(255, 255, 255);
  width: 848px;
  font-size: 80px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  line-height: 72px;
}
.home-description2 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  max-width: 800px;
  text-align: justify;
  line-height: 36px;
}
.home-text44 {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
}
.home-text46 {
  font-weight: 700;
}
.home-text47 {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
}
.home-text50 {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
}
.home-text53 {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
}
.home-text56 {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
}
.home-text59 {
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
}
.home-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home-information {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-wrap: wrap;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: 60px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-details {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}
.home-header4 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-branding2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-company2 {
  color: rgb(21, 21, 21);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.home-location {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-caption {
  color: rgb(21, 21, 21);
  font-size: 24px;
  text-align: justify;
  line-height: 36px;
}
.home-location1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-caption1 {
  color: rgb(21, 21, 21);
  font-size: 24px;
  text-align: justify;
  line-height: 36px;
}
.home-value {
  color: rgb(21, 21, 21);
  font-size: 20px;
  max-width: 560px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}
.home-image2 {
  width: 528px;
  object-fit: cover;
}
@media(max-width: 991px) {
  .home-navbar-interactive {
    padding-top: var(--dl-space-space-unit);
  }
  .home-button {
    width: 100%;
    font-size: 16px;
    text-align: center;
    border-radius: 40px;
  }
  .home-link {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
  .home-button1 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-image {
    width: 18px;
    height: 18px;
    display: flex;
  }
  .home-text {
    display: none;
  }
  .home-button2 {
    width: 100%;
    font-size: 16px;
    text-align: center;
    border-radius: 40px;
  }
  .home-text05 {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
  .home-header {
    height: 100%;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
  }
  .home-title {
    font-size: 40px;
    line-height: 36px;
  }
  .home-description {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text06 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text08 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text09 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text11 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text12 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text14 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-description1 {
    margin-top: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-text15 {
    gap: var(--dl-space-space-unit);
  }
  .home-paragraph {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text16 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text18 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text19 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text20 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text21 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text22 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text23 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text24 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text25 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text26 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text27 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text29 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text30 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text32 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text33 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text35 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-button3 {
    width: 100%;
    font-size: 16px;
    text-align: center;
    border-radius: 40px;
  }
  .home-link1 {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
  .home-header1 {
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-link2 {
    display: none;
  }
  .home-client {
    padding-top: var(--dl-space-space-threeunits);
    border-color: transparent;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-text36 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text37 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text39 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text40 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-text42 {
    font-size: 18px;
    line-height: 27px;
  }
  .home-services {
    gap: var(--dl-space-space-threeunits);
    padding-top: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-header2 {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-top-width: 1px;
  }
  .home-grid {
    display: flex;
    grid-gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-about {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-header3 {
    gap: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-company1 {
    font-size: 30px;
    line-height: 27px;
  }
  .home-description2 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-text43 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-text45 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-text46 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-text48 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-text49 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-text51 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-text52 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-text54 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-text55 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-text57 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-text58 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-text60 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-footer {
    flex-direction: column;
  }
  .home-information {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
    justify-content: flex-start;
  }
  .home-details {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-company2 {
    font-size: 15px;
    line-height: 18px;
  }
  .home-caption {
    font-size: 14px;
    line-height: 21px;
  }
  .home-caption1 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-value {
    font-size: 16px;
    line-height: 24px;
  }
  .home-image2 {
    flex: 0 0 auto;
    width: 100%;
    height: 320px;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .home-logo {
    width: 36px;
    height: 36px;
  }
  .home-items {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-button1 {
    padding: 12px;
  }
  .home-image {
    width: 14px;
    height: 14px;
  }
  .home-header {
    padding-bottom: var(--dl-space-space-fiveunits);
  }
}
@media(max-width: 479px) {
  .home-mobile-menu {
    padding: 16px;
  }
}
